.grecaptcha-badge {
  visibility: hidden !important;
}
.twigs-select__control{
  background-color: #fff !important;
  border: solid 1px #e5e5e5 !important;
}
.twigs-select__control.twigs-select__control--is-focused{
  box-shadow: none !important;
  border: solid 1px #a3a3a3 !important;
}

.twigs-select__menu{
  background-color: #fff !important;
  border: solid 1px #e5e5e5 !important;
}

.twigs-select__option--is-selected{
  background-color: #E3E6F1 !important;
}
.dark .twigs-select__option--is-selected{
  background-color: #252630 !important;
}

.dark .twigs-select__option{
  color: #a2a2a9 !important;
}

label{
  color: #787887 !important;
}

.dark label{
  color: #a2a2a9 !important;
}

.dark .twigs-select__menu{
  background-color: #1a1a1e !important;
  border: solid 1px #2f2f32 !important;
}

.dark .twigs-select__control{
  color: #fffff5 !important;
  background-color: #1a1a1e !important;
  border: solid 1px #2f2f32 !important;
}
.dark .twigs-select__control.twigs-select__control--is-focused{
  box-shadow: none !important;
  border: solid 1px #a8b1ff !important;
}

.dark .twigs-select__single-value{
  color: #fffff5 !important;
}
