.slider-primary::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #00828D;
    border: 2px solid hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .dark .slider-primary::-webkit-slider-thumb {
    background: #8ACCD2;
  }
  