# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created with the tag twigs-react-icons@

name: Publish react icons

on:
  release:
    types: [created]

jobs:
  build-test-and-publish:
    if: ${{ startsWith(github.ref_name, 'twigs-react-icons@') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build and Test
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: yarn
      - run: yarn build:icons
      - run: yarn test
      - name: Publish to npm
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: cd packages/react-icons &&  && npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token_react_icons}}
